.card-main{
    width:95%;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 40px;
}

.mat-card-title{
    text-align:center;
    margin-top: 20px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .single-mat-card{
    width:95%;
   height: 70%;
    margin-left: 30px;
    margin-top: 10px;
  }

  .card-search{
    width:100%;
    float:center;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .btnsearch{
    background-color: #1976d2;
    margin-left: 60px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 0px 28px;
    border-radius: 7px;
    cursor: pointer;
  }

  .btnsearch2{
    background-color: #1976d2;
    margin-left: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 0px 28px;
    border-radius: 7px;
    cursor: pointer;
  }


  .textsearch{
    margin-left: 100px;
}

  .txtto{
    width:2%;
    background-color: #1976d2 ;
  }

  .txtdate{
    margin-left: 160px;
    height: 10%;
  }
  
  .txtdate2{
    margin-left: 0px;
    height: 10%;
  }

  .h4{
      margin-left: 30px;
      font-size: 15px;
  }

  .mat-elevation-z8{
    width: 100%;  
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    float: right;
    margin-top: 5px;
  }
  
  .search2 {
    width: 50%;
    height: 10%;
    float: right; 
 }
  
 .example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-top: 5px;
  float: right;
}

.title{
  margin-top: 0px;
}
  