<mat-toolbar class="row">
    <mat-toolbar-row>
      <span><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">supervised_user_circle</mat-icon>
    </mat-toolbar-row>