<mat-card-title class="title">MULTIPLE FILE UPLOAD</mat-card-title>

<mat-divider class="divider"></mat-divider>

<h4 class="h4">Uploads only images</h4>
<mat-card class="card-main">
    <mat-card-title class="no"> Proposal No: </mat-card-title>
    <mat-form-field class="search2">
        <input class="input" matInput placeholder="Enter Proposal No" value="">
      </mat-form-field><br>
    <mat-card-title class="code"> Agent Code: </mat-card-title>
    <mat-form-field class="search2">
        <input class="input" matInput placeholder="Enter Agent Code" value="">
      </mat-form-field>
    <mat-card-content class="mat-card-content">
    </mat-card-content>
</mat-card>

<mat-card class="card-main2">
      
        <div class="row">
            <mat-card class="card-main3">
                <div class="upload">
                    <span>Select Files</span><br>
                    <input
                      #Image
                      type="file"
                      (change)="handleFileInput($event.target.files)"
                      accept=".jpg,.svg,.png,.jpeg"
                    />
                    <img
                      width="100%"
                      height="100%"
                      *ngIf="imageUrl"
                      [src]="imageUrl"
                      class="image"
                    />
                </div>
            </mat-card>

            <mat-card class="mat-tablecard">
                <mat-card-title class="queue-title"> The Queue </mat-card-title>
                <label class="lbl-queue">Queue length: </label>
                <input class="queue-txt" type="text" name="queue" id="queue" value=""><br>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element">  </td>
                    </ng-container>
            
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element"> 
                            <mat-form-field class="select">
                                <mat-label>Select</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>     
                        </td>
                      </ng-container>
            
                      <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef> Size </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
            
                      <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef> Progress </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>    
                        </td>
                      </ng-container>
            
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
            
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button mat-flat-button class="cancel"> <img class="image" src="assets/img/cancel.png">Cancel</button>
                            <button mat-flat-button color="warn" class="warn"> <img class="image" src="assets/img/delete.png">Remove</button>    
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table> 

                  <label class="lbl-que-length">Queue length: </label>
                  <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                  
                  <button class="btn-upload" mat-flat-button color="primary"><img class="image" src="assets/img/upload.png">Upload All</button>
                  <button class="btn-cancel" mat-stroked-button><img class="image" src="assets/img/cancel.png">Cancel All</button>
                  <button class="btn-delete" mat-stroked-button><img class="image" src="assets/img/bin.png">Remove All</button>

                </mat-card>
        </div>

</mat-card>