.title{
    margin-left: 20px;
}

.divider{
    margin-top: 40px;
}

.card-main{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.card-main2{
    height: 80%;
    margin-top: 10px;
    margin-right: 30px;
    width:100%;

}

.card-main3{
    height: 30%;
    margin-top: 10px;
    width:20%;
}

.mat-tablecard{
    margin-top: 10px;
    float: right;
    width:70%;
    margin-left: 70px;
}

.mat-elevation-z8{
    float: center;
    width:100%;
    margin-right: 10px;
    margin-top: 10px;
   
}

.h4{
    margin-left: 30px;
}

.code{
    margin-top: 0px;
    font-size: 15px;

}

.lbl-queue{
    margin-top: 5px;
}

.lbl-que-length{
    margin-top: 10px;
}

.queue-txt{
    width:3%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-top: 5px;
}
.no{
    margin-top: 0px;
    font-size: 15px;
}

.input{
    margin-top: 0px;
}

.image{
    margin-right: 3px;
    margin-top: 0px;
}

.cancel{
    background-color: rgb(238, 230, 124);
    margin-right: 5px;
    font-size: 15px;
    padding: 0px 20px;
}

.txt-queue{
    padding: 0px 20px;
}

.warn{
    font-size: 15px;
    padding: 0px 15px;
}

.select{
    width:30%;
}

.btn-upload{
    margin-top: 10px;
    margin-right: 5px;
}

.btn-cancel{
    margin-top: 10px;
    margin-right: 5px;
    border: 2px solid rgb(50, 152, 199);
    color: rgb(50, 152, 199);
}

.btn-delete{
    margin-top: 10px;
    border: 2px solid rgb(25, 118, 210);
    color: rgb(25, 118, 210);
}