.card-main{
    width:95%;
    height: 25%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;
}

.mat-card-title{
    text-align:center;
    margin-top: 20px;
}

.single-mat-card{
   width:95%;
   height: 67%;
   margin-left: 30px;
   margin-top: 10px;
  }

.mat-card{
  width:99%;
}

.mat-elevation-z8{
  width:100%;
}

.btn-view{
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 2px solid rgb(50, 152, 199);
  color: rgb(50, 152, 199);
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title{
    margin-top: 0px;
  }
