<mat-card class="card-main">
    <img class="image" src="assets/img/loupe.png"><br>
    <mat-card-title class="title">Advanced Search</mat-card-title>
    <mat-card-content class="mat-card-content">
      <p style="text-align:center">
        Search All The Proposals<br>
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="single-mat-card">
    <strong><h4 style="color: rgb(151, 160, 160);" class="table-header">Details of the proposal number</h4></strong>
    <mat-card class="mat-card">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="proposalno">
              <th mat-header-cell *matHeaderCellDef> Proposal No </th>
              <td mat-cell *matCellDef="let element"> {{element.proposalno}} </td>
            </ng-container>
          
            <ng-container matColumnDef="policyno">
                <th mat-header-cell *matHeaderCellDef> Policy No </th>
                <td mat-cell *matCellDef="let element"> {{element.policyno}} </td>
              </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <ng-container matColumnDef="proposalholder">
                <th mat-header-cell *matHeaderCellDef> Proposal Holder </th>
                <td mat-cell *matCellDef="let element"> {{element.proposalholder}} </td>
            </ng-container>

            <ng-container matColumnDef="branch">
              <th mat-header-cell *matHeaderCellDef> Branch </th>
              <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
          
            <ng-container matColumnDef="agent">
              <th mat-header-cell *matHeaderCellDef> Agent </th>
              <td mat-cell *matCellDef="let element"> {{element.agent}} </td>
            </ng-container>
          
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Last Updated User  </th>
              <td mat-cell *matCellDef="let element"> {{element.update}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Last Trans Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time}} </td>
              </ng-container>

              <ng-container matColumnDef="submission">
                <th mat-header-cell *matHeaderCellDef> Submission Time </th>
                <td mat-cell *matCellDef="let element"> {{element.submission}} </td>
              </ng-container>

              <ng-container matColumnDef="validity">
                <th mat-header-cell *matHeaderCellDef> Validity </th>
                <td mat-cell *matCellDef="let element"> {{element.validity}} </td>
              </ng-container>

              <ng-container matColumnDef="call">
                <th mat-header-cell *matHeaderCellDef> Call Verification Status </th>
                <td mat-cell *matCellDef="let element"> {{element.call}} </td>
              </ng-container>

              <ng-container matColumnDef="history">
                <th mat-header-cell *matHeaderCellDef> Call History </th>
                <td mat-cell *matCellDef="let element"><button class="btn-view" mat-stroked-button routerLink="/get-branch-history">View Details</button></td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
          </mat-card>     
</mat-card>
