<mat-card class="card-main">
    <img class="image" src="assets/img/file.png"><br>
    <mat-card-title class="title">Reports</mat-card-title>
    <mat-card-content class="mat-card-content">
      <p style="text-align:center">
       Generate Reports<br>
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="single-mat-card">
    <mat-card class="card-search">
      Accepted Date<input class="txtdate" type="text" id="date1" name="">to
        <!-- <input class="txtto" type="text" id="date2" value="to"> -->
        <input class="txtdate2" type="text" id="date2" name="">
        <button class="btnsearch" mat-raised-button color="blue">Search</button>
    </mat-card>

    <form class="example-form">
    <mat-form-field class="search2">
      <input matInput placeholder="Search" value="">
    </mat-form-field>
  </form>

<div class="button-button-row">
    <a mat-raised-button routerLink="."><img src="assets/img/document.png">Copy</a>
    <a mat-raised-button routerLink="."><img src="assets/img/printer.png">Print</a>
    <a mat-raised-button routerLink="."><img src="assets/img/excel.png">Excel</a>
  </div> 

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="proposalno">
              <th mat-header-cell *matHeaderCellDef> Proposal No </th>
              <td mat-cell *matCellDef="let element"> {{element.proposalno}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="policyno">
              <th mat-header-cell *matHeaderCellDef> Policy No </th>
              <td mat-cell *matCellDef="let element"> {{element.policyno}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="proposaldate">
              <th mat-header-cell *matHeaderCellDef> Proposal Date </th>
              <td mat-cell *matCellDef="let element"> {{element.proposaldate}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="level1">
              <th mat-header-cell *matHeaderCellDef> 1st Level </th>
              <td mat-cell *matCellDef="let element"> {{element.level1}} </td>
            </ng-container>

            <ng-container matColumnDef="level2">
                <th mat-header-cell *matHeaderCellDef> 2nd Level </th>
                <td mat-cell *matCellDef="let element"> {{element.level2}} </td>
              </ng-container>

              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef> Process start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.start}} </td>
              </ng-container>

              <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef> Process End Time </th>
                <td mat-cell *matCellDef="let element"> {{element.end}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
          
          <div class="example-button-row">
            <a mat-raised-button routerLink=".">Previous</a>
            <a mat-raised-button routerLink=".">Next</a>
          </div>      
    
</mat-card>
