<mat-card class="card-main">
    <img class="image" src="assets/img/doctor1.png"><br>
    <mat-card-title>Medical</mat-card-title>
    <mat-card-content class="mat-card-content">
      <p style="text-align:center">
       Search All The Proposals Listed As Medical<br>
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="single-mat-card">
   <strong><h4 style="color: rgb(151, 160, 160);" class="table-header">Details of the proposal number</h4></strong>
    
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="proposalno">
      <th mat-header-cell *matHeaderCellDef> Proposal No </th>
      <td mat-cell *matCellDef="let element"> {{element.proposalno}} </td>
    </ng-container>

    <ng-container matColumnDef="proposalholder">
      <th mat-header-cell *matHeaderCellDef> Proposal Holder </th>
      <td mat-cell *matCellDef="let element"> {{element.proposalholder}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="agent">
      <th mat-header-cell *matHeaderCellDef> Agent </th>
      <td mat-cell *matCellDef="let element"> {{element.agent}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef> Branch </th>
      <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="issueddate">
      <th mat-header-cell *matHeaderCellDef> Issued Date </th>
      <td mat-cell *matCellDef="let element"> {{element.issueddate}} </td>
    </ng-container>

    <ng-container matColumnDef="eligibility">
        <th mat-header-cell *matHeaderCellDef> Eligibility </th>
        <td mat-cell *matCellDef="let element"> {{element.eligibility}} </td>
      </ng-container>

      <ng-container matColumnDef="validity">
        <th mat-header-cell *matHeaderCellDef> Validity </th>
        <td mat-cell *matCellDef="let element"> {{element.validity}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <button routerLink="/medical-decision" class="btnsearch" mat-raised-button color="blue">Decision</button> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</mat-card>
        <!-- <button class="btnsearch" mat-raised-button color="blue">Decision</button> -->
