<mat-card class="card-main">
    <img class="image" src="assets/img/edit2.png"><br>
    <mat-card-title>Medical</mat-card-title>
    <mat-card-title class="title-2">User Underwriting Decision</mat-card-title>
    <mat-card-content class="mat-card-content">
    <p style="text-align:center">
        <label class="lbl">Proposal No : </label>
        <input class="txt" type="text" name="proposalno" id="proposalno" value="">
        <label class="lbl">Policy No : </label>
        <input class="txt" type="text" name="policyno" id="policyno" value="">
        <label class="lbl">Proposal Holder : </label>
        <input class="txt" type="text" name="proposalholder" id="proposalholder" value="">
        <label class="lbl">Agent : </label>
        <input class="txt" type="text" name="agent" id="agent" value="">
        <label class="lbl">Mobile No : </label>
        <input class="txt" type="text" name="mobileno" id="mobileno" value="">
        <label class="lbl">A.Premium : </label>
        <input class="txt" type="text" name="premium" id="premium" value="">
        <label class="lbl">Pay Frequency : </label>
        <input class="txt" type="text" name="freq" id="freq" value="">
        <label class="lbl">Term : </label>
        <input class="txt" type="text" name="term" id="term" value=""> <br>
        <button class="btn-view" mat-stroked-button>View Medical Reports</button>
    </p>
    </mat-card-content>
</mat-card>

<mat-card class="card-main2">
    <div class="row">
    <mat-card class="matcard-row1">
    <mat-card-title class="title-3">Add User underwriting Decision</mat-card-title>
    <mat-form-field class="field-1">
        <select matNativeControl required>
          <option value="medical"> Medical </option>
          <option value="medical-manual"> Non Medical Manual</option>
          <option value="medical-auto"> Non Medical Auto</option>
        </select>
    </mat-form-field>
        
    <mat-form-field class="field-1">
        <select matNativeControl required>
            <option value="medical"> Select the decision </option>
            <option value="medical-manual"> Pending </option>
          </select>
    </mat-form-field>

    <mat-form-field class="field-1">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. Documents not submitted"></textarea>
      </mat-form-field>
   </mat-card>

   <mat-card class="matcard-row2"><br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="" value="BSO">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value="Age  Proof">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value="Medical">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value="Other">
      </mat-form-field>
   </mat-card>

   <mat-card class="matcard-row3"><br>
    <button class="btn-view" mat-stroked-button>View epos PDF</button>   
    <label class="lbl">Signature : </label>
        <input class="txt-sign" type="text" name="sign" id="sign" value="">
   </mat-card>
   <button class="btn-save" mat-stroked-button>Save</button>  
    </div>
</mat-card>
<button class="btn-back" mat-flat-button routerLink="/dashboard-more-details">Back</button>