.row{
    background-color: rgb(206, 194, 194);
    align-self: flex-end;
}

.span{
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgb(206, 194, 194);
}

.example-icon {
    float: right;
    margin-left: 90%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  