.title{
    font-size: 15px;
    color: darkgray;
}

.card-main{
    width: 100%;
    margin-top: 20px;
}

.main-title{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10p;
}

.single-mat-card{
    margin-top: 30px;
    width: 60%;
}

.single-mat-card2{
    margin-top: 30px;
    height: 80%;
}

.bar{
    margin-bottom: 30px;
    margin-top: 30px;
}

.divider{
    margin-top: 2px;
}

.col-md-4{
    margin: 0 auto;
}

.select-div{
    width: 32%;
}

.title2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 20px;
}

.button-icon{
    float: right;
}