.main-title{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10p;
}

.sub-title{
    font-size: 15px;
    margin-left: 10px;
    color: darkgray;
}

.card-main{
    width: 100%;
    margin-top: 20px;
}

.single-mat-card{
    margin-top: 30px;
    width: 100%;
}

.title{
    font-size: 15px;
    color: darkgray;
}

.select-div{
    width: 32%;
}

.divider{
    margin-top: 2px;
}

.bar{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 30%;
    height: 30%;
}