.card-main{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.card-main-table{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  .mat-card-title{
    text-align:center;
}

  .single-mat-card{
    background-color: rgb(226, 221, 221);
    width:95%;
    height: 60%;
    margin-left: 30px;
    margin-top: 20px;
  }

  .decision{
    margin: 0 auto;
  }

  .mat-elevation-z8{
    width: 100%; 
  }
