.card-main{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.txtdate{
    width:10%;
}

.txtdate2{
    width:10%;
    margin-right: 1px;
}

.txtdate3{
  width:6%;
  margin-right: 1px;
}

.btnsearch1{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1976d2;
    color: white;
}

.card-main-table{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  .mat-card-title{
    text-align:center;
}

  .single-mat-card{
    background-color: rgb(226, 221, 221);
    width:95%;
    height: 60%;
    margin-left: 30px;
    margin-top: 20px;
  }

  .decision{
    margin: 0 auto;
  }

  .mat-elevation-z8{
    width: 100%; 
  }
