/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
ul {
    position: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .span{
    background-color: #1976d2;
    height: 60px;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #1976d2;
    font-weight: 600;
  }
  
    h2, h3 {
      color: #444;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      float:left;
    }
    h6{
      color: rgb(196, 181, 181);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      text-align: left;
    }
    body {
      margin: 2em;
    }
    body, input[type="text"], button {
      color: #333;
      font-family: Cambria, Georgia;
    }
    .header {
      position: absolute;
      top: 5;
      left: 0;
      right: 0;
      height: 30px;
      display: flex;
      align-items: center;
      background-color: #f0f0ff;
      color: white;
      font-weight: 600;
    }
    .header-2 {
      position: absolute;
      top: 50;
      left: 0;
      right: 0;
      height: 30px;
      display: flex;
      align-items: center;
      background-color: #f0f0ff;
      color: white;
      font-weight: 600;
    }
  
    .header-3 {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #ffffff;
      color: white;
      font-weight: 600;
    }
  
  
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width: 31%;
      height: 70%;
      padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding in columns */
    .row {margin: 0 -5px;
      
  }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
      padding: 20px;
      text-align: center;
      background-color: #f1f1f1;
    }
    
    /* Responsive columns - one column layout (vertical) on small screens */
    @media screen and (max-width: 700px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
  
    /* everywhere else */
    * {
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .btn-sync{
        background-color: #1976d2; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    
      
  .sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(248, 238, 238);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #1976d2;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
   
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }