.card-main{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.card-main2{
    width:95%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 40px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

.mat-card-title{
    text-align:center;
    font-size: 25px;
    margin-bottom: 10px;
}

.title-2{
    font-size: 17px;
    color: rgb(141, 138, 138);
 }

 .title-3{
    font-size: 17px;
    color: rgb(141, 138, 138);
    float: left;
    margin-left: 5px;
 }

.lbl{
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 10px;
}

.txt{
    width:12%;
    margin-top: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.btn-view{
    margin-top: 10px;
    margin-right: 5px;
    border: 2px solid rgb(50, 152, 199);
    color: rgb(50, 152, 199);
}

.btn-save{
    margin-top: 10px;
    border: 2px solid rgb(50, 152, 199);
    color: rgb(50, 152, 199);
}

.btn-back{
    background-color: #1976d2;
    color: honeydew;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35px;

}

.field-1{
    width:90%;   
}

.matcard-row1{
    width:30%;
}

.matcard-row2{
    width:30%;
    margin-left: 10px;
}

.matcard-row3{
    width:35%;
    height: 20%;
    margin-left: 10px;
}

.txt-sign{
    display: inline-block;
    width:45%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}