<mat-card-title class="title-main">HISTORY</mat-card-title><br><br>
<mat-card-title class="title1">Search All Proposals</mat-card-title>
<br>
<br>

<!-- * * * * * * Three card views * * * * * * -->

<mat-card class="card-main">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="single-mat-card d-block w-100">
        <img class="image" src="assets/img/doctor.png"><br>
        <mat-card-title>Medical</mat-card-title><br>
        <mat-card-title class="number">174</mat-card-title>
        <mat-card-content>
          <p style="text-align:center">
            To summarize all the medical underwriting policies<br> in the process
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a id="medicalLink" routerLink="/medical-history" class="nav-link">LOAD PROPOSAL NUMBERS</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="single-mat-card d-block w-100">
        <img class="image" src="assets/img/magic.png"><br>
        <mat-card-title>Non medical-Auto</mat-card-title><br>
        <mat-card-title class="number">151</mat-card-title>
        <mat-card-content>
          <p style="text-align:center">
            To summarize all the non medical-auto underwriting policies<br> in the process
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/auto-medical-history" class="nav-link">LOAD PROPOSAL NUMBERS</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="single-mat-card d-block w-100">
        <img class="image" src="assets/img/edit.png"><br>
        <mat-card-title>Non medical-Manual</mat-card-title><br>
        <mat-card-title class="number">116</mat-card-title>
        <mat-card-content>
          <p style="text-align:center">
            To summarize all the non medical-manual underwriting policies<br> in the process
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/manual-medical-history" class="nav-link">LOAD PROPOSAL NUMBERS</a>
          <!-- (click)=”handleClick($event)” -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-card><br><br>

<mat-card class="card-search">
  <div class="row">
    <div class="col-md-10">
      <mat-form-field class="textsearch">
        <mat-label>Proposal No.</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button mat-raised-button color="primary" class="btnsearch"  routerLink="/dashboard-search">Search</button>
    </div>
  </div>
</mat-card>