<mat-card class="card-main">
    <img class="image" src="assets/img/edit2.png"><br>
    <mat-card-title class="title">Proposal Call History </mat-card-title>
    <mat-card-content class="mat-card-content">
    <p style="text-align:center">
        <label class="lbl">Proposal No : </label>
        <input class="txt" type="text" name="proposalno" id="proposalno" value="">
        <label class="lbl">Proposal Holder : </label>
        <input class="txt" type="text" name="proposalholder" id="proposalholder" value="">
        <label class="lbl">Agent : </label>
        <input class="txt" type="text" name="agent" id="agent" value="">
        <label class="lbl">Mobile No : </label>
        <input class="txt" type="text" name="mobileno" id="mobileno" value=""><br>
    </p>
    </mat-card-content>
</mat-card>

<mat-card class="card-main2">
    <strong><h4 style="color: rgb(151, 160, 160);" class="table-header">Details of the proposal number</h4></strong>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
          
            <ng-container matColumnDef="decision">
                <th mat-header-cell *matHeaderCellDef> Decision Description </th>
                <td mat-cell *matCellDef="let element"> {{element.decision}} </td>
              </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Underwrite Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
    </mat-card>
    <button class="btn-back" mat-flat-button routerLink="/dashboard-search">Back</button>