.card-main{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

.title{
    text-align: center;
}

 .lbl{
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 10px;
}

.txt{
    width:12%;
    margin-top: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.card-main2{
    margin-top: 20px;
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.mat-elevation-z8{
    width:100%;
}

.btn-back{
    background-color: #1976d2;
    color: honeydew;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}
