<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
        <app-aside></app-aside>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>