<mat-card-title class="main-title">ADOPTION</mat-card-title>
<mat-card class="card-main">
    <div class="row">
        <mat-card class="single-mat-card">
            <mat-card-title class="title"> Monthly Adoption Ratio </mat-card-title>
            <div class="select-div">
            <mat-form-field>
                <select matNativeControl required>
                  <option value="volvo">2019</option>
                  <option value="saab">2020</option>
                </select>
              </mat-form-field>
            </div>
            <mat-divider class="divider"></mat-divider>
                        <div style="display: block;">
                          <button class="button-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <span>Print Chart</span>
                            </button>
                            <button mat-menu-item>
                              <span>Download PNG image</span>
                            </button>
                            <button mat-menu-item>
                              <span>Download JPEG image</span>
                            </button>
                            <button mat-menu-item>
                              <span>Download PDF document</span>
                            </button>
                            <button mat-menu-item>
                              <span>Download SVG vector image</span>
                            </button>
                            <button mat-menu-item>
                              <span>Download CSV</span>
                            </button>
                            <button mat-menu-item>
                              <span>Download XLS</span>
                            </button>
                            <button mat-menu-item>
                              <span>View data table</span>
                            </button>
                            <button mat-menu-item>
                              <span>Open in HighCharts Cloud</span>
                            </button>
                            </mat-menu>
                                <canvas class="bar" baseChart [datasets]="barChartDataProduction" [labels]="barChartLabelsProduction"
                                    [options]="barChartOptionsProduction" [legend]="barChartLegendProduction"
                                    [chartType]="barChartTypeProduction">
                                </canvas>
                            </div>
        </mat-card>
   
      <div class="col-md-4">
        <mat-card class="single-mat-card2">
            <mat-card-title class="title2"> Current Month STP Ratio  <button class="button-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Print Chart</span>
                </button>
                <button mat-menu-item>
                  <span>Download PNG image</span>
                </button>
                <button mat-menu-item>
                  <span>Download JPEG image</span>
                </button>
                <button mat-menu-item>
                  <span>Download PDF document</span>
                </button>
                <button mat-menu-item>
                  <span>Download SVG vector image</span>
                </button>
                <button mat-menu-item>
                  <span>Download CSV</span>
                </button>
                <button mat-menu-item>
                  <span>Download XLS</span>
                </button>
                <button mat-menu-item>
                  <span>View data table</span>
                </button>
                <button mat-menu-item>
                  <span>Open in HighCharts Cloud</span>
                </button>
                </mat-menu>
            </mat-card-title>
            <div style="display: block;">
                <canvas baseChart [datasets]="PieChartDataProduction" [labels]="PieChartLabelsProduction"
                    [options]="PieChartOptionsProduction" [legend]="PieChartLegendProduction"
                    [chartType]="PieChartTypeProduction">
                </canvas>
            </div>
        </mat-card>
      </div>
    </div>
  </mat-card>