<mat-card class="card-main">
    <img class="image" src="assets/img/doctor1.png"><br>
    <mat-card-title>Reports</mat-card-title>
    <mat-card-content class="mat-card-content">
        <p style="text-align:center">
            Generate Cut off Date & Time Reports<br>
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="single-mat-card">
    <mat-card class="card-search">
        <form class="example-form">
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Year</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let year of years" [value]="year.value">
                                {{year.year}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Month</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let month of months" [value]="month.value">
                                {{month.month}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Main Category</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let cat of mainCategories" [value]="cat.value">
                                {{cat.category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Eligibility</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let elig of eligibilities" [value]="elig.value">
                                {{elig.eligibility}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button mat-raised-button color="primary">Search</button>
                </div>
            </div>
        </form>
    </mat-card>

    <div class="button-button-row row">
        <a mat-raised-button routerLink="."><img src="assets/img/document.png">Copy</a>
        <a mat-raised-button routerLink="."><img src="assets/img/printer.png">Print</a>
        <a mat-raised-button routerLink="."><img src="assets/img/excel.png">Excel</a>
    </div>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="proposalNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proposal No. </th>
                <td mat-cell *matCellDef="let report"> {{report.proposalNo}} </td>
            </ng-container>

            <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
                <td mat-cell *matCellDef="let report"> {{report.branch}} </td>
            </ng-container>

            <ng-container matColumnDef="agent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Agent </th>
                <td mat-cell *matCellDef="let report"> {{report.agent}} </td>
            </ng-container>

            <ng-container matColumnDef="mainUrType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Main Ur Type </th>
                <td mat-cell *matCellDef="let report"> {{report.mainUrType}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let report"> {{report.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</mat-card>