.card-main{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
}

.card-main-table{
    width:95%;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mat-card-title{
    text-align:center;
}

.single-mat-card{
    width:95%;
   height: 67%;
    margin-left: 30px;
    margin-top: 10px;
}

.button-button-row a
{
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.card-search{
    width:100%;
    float:center;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}