<mat-card class="card-main">
  <img class="image" src="assets/img/file.png"><br>
  <mat-card-title class="title">Reports</mat-card-title>
  <mat-card-content class="mat-card-content">
    <p style="text-align:center">
      Generate Summary Reports<br>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="single-mat-card">
  <mat-card class="card-search">
    Accepted Date<input class="txtdate" type="text" id="date1" name="">to
    <!-- <input class="txtto" type="text" id="date2" value="to"> -->
    <input class="txtdate2" type="text" id="date2" name="">
    <button class="btnsearch" mat-raised-button color="blue">Search</button>
  </mat-card>

  <form class="example-form">
    <mat-form-field class="search2">
      <input matInput placeholder="Search" value="">
    </mat-form-field>
  </form>

  <div class="button-button-row">
    <a mat-raised-button routerLink="."><img src="assets/img/document.png">Copy</a>
    <a mat-raised-button routerLink="."><img src="assets/img/printer.png">Print</a>
    <a mat-raised-button routerLink="."><img src="assets/img/excel.png">Excel</a>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="proposalno">
      <th mat-header-cell *matHeaderCellDef> Proposal No </th>
      <td mat-cell *matCellDef="let element"> {{element.proposalno}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef> Branch </th>
      <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="agent">
      <th mat-header-cell *matHeaderCellDef> Agent </th>
      <td mat-cell *matCellDef="let element"> {{element.agent}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mainur">
      <th mat-header-cell *matHeaderCellDef> Main URL Type </th>
      <td mat-cell *matCellDef="let element"> {{element.mainur}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update Date & Time </th>
      <td mat-cell *matCellDef="let element"> {{element.update}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="example-button-row">
    <a mat-raised-button routerLink=".">Previous</a>
    <a mat-raised-button routerLink=".">Next</a>
  </div>

</mat-card>