<div id="slide-out" class="side-nav your-image">
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/../assets/img/angular2-logo-red.png" />
        </div>
        AUSYS
    </a>
</div>
<div class="sidebar-wrapper">
    <mat-list>
        <mat-list-item class="nav-link" routerLink="/dashboard">Dashboard</mat-list-item>
        <mat-divider></mat-divider>

        <mat-accordion class="mat-accordion">
            <mat-expansion-panel class="mat-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="link">
                        AUW Explora
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item class="link" routerLink="/history">History</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <!-- </mat-accordion> -->
            <mat-divider></mat-divider>

            <!-- <mat-accordion> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="link" routerLink="/crisis-center" routerLinkActive="active"> Report</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item class="link" routerLink="/summery-report">Summery Report</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="link" routerLink="/cut-off-date-and-time">Cut off Date & Time</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <!-- </mat-accordion> -->
            <mat-divider></mat-divider>

            <!-- <mat-accordion> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="link">
                        KPI
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item>
                        <a id="printLink" routerLink="/activity" class="nav-link">
                            Activity
                        </a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a id="printLink" routerLink="/stp" class="nav-link">
                            STP
                        </a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a id="printLink" routerLink="/adoption" class="nav-link">
                            Adoption Rate
                        </a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a id="printLink" routerLink="/submission" class="nav-link">
                            Submission Type
                        </a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a id="printLink" routerLink="/policy" class="nav-link">
                            Monthly Policy Variation
                        </a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a id="printLink" routerLink="/user-based" class="nav-link">
                            User Based Activity
                        </a>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-list-item><a id="printLink" routerLink="/printing" class="nav-link">Printing</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a id="printLink" routerLink="/reports-on-your-mark" class="nav-link">On Your Mark</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a id="printLink" routerLink="/fileupload" class="nav-link">File Uploads</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a id="printLink" routerLink="/reports-ims-reports" class="nav-link">IMS Validated Reports</a>
        </mat-list-item>
    </mat-list>
</div>
</div>