.base-div {
    height: 100%;
    width: 100%;
    color: blue;
}

.logo {
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4; 
}

.mat-accordion{
    background-color: transparent;
}

.mat-expansion-panel{
    background-color: transparent;
}

.nav-link{
    color: white;
    font-weight: 100;
}

.link{
    color: white;
    font-weight: 200;
}

.your-image{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); 
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-img{
    width: 35px;
    display: block;
    max-height: 30px;
    margin-left: 13px;
    margin-right: 15px;
}

img{
    width: 35px;
    top: 16px;
    position: absolute;
}

.simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block; 
}

.sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px; 
}

.nav {
    display: block; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem; 
}
    .nav-link:hover, .nav-link:focus {
      text-decoration: none; }
    .nav-link.disabled {
      color: #6c757d; }

      .sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
        margin: 10px 15px 0;
        border-radius: 3px;
        color: #3C4858;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: capitalize;
        font-size: 13px;
        padding: 10px 15px;
    }