.example-button-row button{
  
 float: right;
 height: 10%;
 margin-right: 20px;
 margin-bottom: 30px;
}

/* .mat-raised-button{
    color: #1976d2;
} */

.sync{
    background-color: #1976d2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
}
  
  .mat-card-title{
      text-align:center;
  }

  .mat-card-content{
      margin-top: 20px;
  }
  
  .mat-card{
      margin-left: 0px;
      width: 340px;
  }

  .single-mat-card{
    background-color: rgb(226, 221, 221);
    margin-left: 0px;
    min-height: 300px;
  }

  .card-main{
      width:100%;
      margin-left: 0px;
      margin-right: 0px;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  

  .card-search{
    width:50%;
    font:center;
    margin-left: 370px;
    margin-top: 20px;
  }

  .textsearch{
      margin-left: 10px;
      margin-right: 0px;
  }

  .btnsearch{
    margin-left: 0px;
    margin-right: 5px;
    background-color: #1976d2;
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 1px 15px;
    border-radius: 7px;
    cursor: pointer;
  }
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;
    
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .number{
  color: #1976d2;
  }

  .nav-link{
      text-decoration: none;
      text-align:center;

  }

  .btn-link{
    text-decoration: none;
    text-align:center;
    margin: 0 auto;
  }