.title{
    font-size: 15px;
    color: darkgray;
}

.card-main{
    width: 100%;
    margin-top: 20px;
}

.main-title{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20p;
}

.single-mat-card1{
    margin-top: 30px;
    height: 10%;
}

.single-mat-card2{
    margin-top: 30px;
    height: 80%;
}

.bar{
    margin-bottom: 30px;
    margin-top: 30px;
    height:30% ;
}

.divider{
    margin-top: 10px;
    margin-bottom: 20px;
}

.col-md-4{
    margin: 0 auto;
}

.select-div{
    width: 32%;
}

.title2{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: darkgray;
}

.button-icon{
    float: right;
}