<mat-card-title class="main-title">SUBMISSION TYPE</mat-card-title>
<mat-card class="card-main">
    <mat-card class="single-mat-card1">
      <mat-card-title class="title2"> Monthly ANBP Count</mat-card-title>
      <div class="select-div">
        <mat-form-field>
            <select matNativeControl required>
              <option value="volvo">2019</option>
              <option value="saab">2020</option>
            </select>
          </mat-form-field>
        </div>
      <mat-divider class="divider"></mat-divider>
      <div style="display: block;">
        <canvas class="bar" baseChart [datasets]="barChartDataProduction" [labels]="barChartLabelsProduction"
            [options]="barChartOptionsProduction" [legend]="barChartLegendProduction"
            [chartType]="barChartTypeProduction">
        </canvas>
    </div>
  </mat-card>

    <mat-card class="single-mat-card2">
      <mat-card-title class="title2"> Monthly Proposal Count</mat-card-title>
      <div class="select-div">
        <mat-form-field>
            <select matNativeControl required>
              <option value="volvo">2019</option>
              <option value="saab">2020</option>
            </select>
          </mat-form-field>
        </div>
      <div style="display: block;">
        <canvas class="bar" baseChart [datasets]="bar2ChartDataProduction" [labels]="bar2ChartLabelsProduction"
            [options]="bar2ChartOptionsProduction" [legend]="bar2ChartLegendProduction"
            [chartType]="bar2ChartTypeProduction">
        </canvas>
    </div>
  </mat-card>
  </mat-card>